span {
  display: block;
  margin-top: 25px; 
  margin-bottom: 20px; 
  font-weight: 600;
  font-style: italic;
  color: #2c3e50;
  text-align: center;
}

@media (prefers-color-scheme: dark) {
  span {
    color: #9ca3af;
  }
}